.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    div {
        img {
            margin: 1rem;
        }
    }

    .contact {
        .form-container {
            .tagline {
                h3{
                    font-size: 2.5rem;
                }
            }
            margin: auto;
            max-width: 90%;
            background-color: none;
            .contact-form {

            }
        }
    }
}