.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    div {
        
        img {
            margin: 1rem;
            display: none;
        }
    }

    .contact {
        .form-wrapper {
            margin: auto;
            max-width: 90%;
            .tagline {
                h3{
                    font-size: 2.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
            
            .contact-form {
                margin-top: 2rem;
                textarea {
                    width: 100%;
                    height: 100px;
                }

            }
        }
    }
}

@media screen and (min-width: 600px) {
    .contact-wrapper {
        grid-template-columns: 1fr 1fr;
        div {
            img {
                display: block;

            }
            
        }
        
    }
}