.header{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 500;
    top:0;
    left:0;
    right: 0;
  /*   background: linear-gradient(270deg, rgba(220, 145, 80, 0.7) 0%, rgba(224, 198, 128, 0.7) 100%); */
    /* background-image:linear-gradient(270deg, rgb(220 145 80) 0%, rgb(224 198 128) 100%), url(../resources/images/header-bg.png); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.menu-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
}

.menu-item a{
    text-decoration: none;
    display: block;

    color: var(--colorNavyBlue);
    font-weight: bold;
    font-size: 2.5rem;
    transition: transform 0.2s ease-in-out;

}

.menu-item a:hover{
transform: scale(1.2);
}

.header-logo img{
    max-width: 11rem;
    max-height: 6rem;
}

.menu{
    background-color: var(--colorNavyBlue);
    flex-grow: 1;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

#signOutButton{
    display: none;
}


.bloom-mobile-header {
    /* box-shadow: var(--colorBeige) 0px 6px 12px -2px, var(--colorBeige) 0px 3px 7px -3px; */
    /* background-color: var(--colorBlack); */
    box-sizing: border-box;
    width: 100%;
    /* background-image:linear-gradient(270deg, rgba(220, 145, 80, 1) 0%, rgb(224, 198, 128) 100%),url('./resources/images/header-bg.png'); */
    background-size: contain;
   /*  background:linear-gradient(180deg, rgba(3, 0, 0, 1) 40%, rgba(1, 0, 0, 0.5018601190476191) 74%, rgba(0, 0, 0, 0) 100%);
    ; */

    background-image:linear-gradient(270deg, rgba(220, 145, 80, 1) 0%, rgb(224, 198, 128) 100%);
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
        flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    /* transition: all 0.9s ease-in-out; */
    display: flex;
    top: 0;
    left: 0;

    &.nav-visible {
        div.toggle-nav {
            i {
                &#openNavButton {
                    transform: scale(0) rotate(720deg);
                }

                &#closeNavButton {
                    transform: scale(1) rotate(0deg);
                }
            }
        }

        .nav {
            left: 0;
            width: 100%;
           height: 1000vh;

            .item {
                opacity: 1;
            }
        }
    }


    div.toggle-nav {
        height: 74px;
        width: 74px;
        padding: 0;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;

      i{
            
            font-size: 1.75rem;
            line-height: 72px;
            cursor: pointer;
            position: absolute;
            /* transition: transform 0.3s; */

            &#openNavButton {
                transform: scale(1) rotate(0deg);
            }

            &#closeNavButton {
                transform: scale(0) rotate(720deg);
            }
        }
        .fa-bars  {
            color: var(--colorBeige);
        }
        .fa-xmark{
            color:var(--colorBeige);
        }
    }

    .nav {
        margin: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        justify-content: flex-start;
         transition:  0.3s;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.622);
        backdrop-filter: blur(20px);
        padding: 12rem 0 0 0;
        box-sizing: border-box;

        .item {
            position: relative;
            text-align: center;
            width: 150px;
            transition: width 0.3s, margin 0.3s;
            border-bottom: 1px solid #BDBDBD;
            opacity: 0;
            list-style-type: none;

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 4rem;

               
                font-size: 1.5rem;
                color: var(--colorNavyBlue);
                font-size: 24px;
                font-weight: 300;
                line-height: 90px;
                width: 100%;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;

                &:hover,
                &:focus {
                    color: var(--colorMustard);
                }
            }
        }
    }

    .logo {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        justify-content: center;
        line-height: 74px;
        height: 74px;
        font-size: 1.5rem;
        color: white;
        font-weight: 400;
        opacity: 1;
        width: calc(100% - 180px);
        margin-right: 0;
        padding: 20px 0;
        background: transparent;

        img {
            width: 50px !important;
            height: 100%;
        }
    }

   

}
.toggle-nav .fa-bars{
    color: black;
}
.nav-desktop{
    display: none;

}

@media only screen and (min-width:800px) {

    .toggle-nav{
        display: none !important;
    }
    .nav {
     
display: none ;
       
    }
    .nav-desktop{
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
      gap: 3rem;

      a{
        font-size: 1.5rem;
        font-weight: 600;
       
      }

      img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }

    /* #signOutButton{
        display: inline-block;
    }
    .menu{
        position: relative;
        background-color: rgba(255, 255, 255, 0);
        
    }

    .menu-item a{
        color: var(--colorNavyBlue);
    }

    .menu-item img{
        display: none;
    }

    .menu-list{
        justify-content: right;
        gap: 2rem;
    }
    .header{
        justify-content: space-between;
    }

    .menu-item a:hover{
        color: var(--colorNavyBlue);
    } */


}

@media screen and (max-width:799px){
    .item a{
        color: var(--colorBeige) !important;
    }
}