/* Lookbook styling */
.page6 {
    padding: 1rem;
}
.header-wrapper {
    margin-top: 1rem;
    gap: 1rem;
    .title-container {
        width: 100%;
        h1 {
        display: inline-block;
        margin: 0;
        }
    }
    .search-container {
        width: 100%;
        box-shadow: 0px 4px 10px 3px #00000059;
        border-radius: 10px;
        input {
            flex-grow: 1;
            border-radius: 10px 0 0 10px;
            height: 45px;
            margin-bottom: 0;
            border-color: var(--colorBeige);
        }
        i {
            color: var(--colorBeige);
            padding: 0.5rem 1rem;
            background-color: var(--colorNavyBlue);
            border-radius: 0 10px 10px 0;
            font-size: 1.82rem;
        }
        i:hover {
            cursor: pointer;
        }
    }
    .button-container{
        gap: 1rem;
        a {
            flex-grow: 1;
            text-decoration: none;
            color: var(--colorBeige);
            background-color: var(--colorNavyBlue);
            border-radius: 10px;
            text-align: center;
            padding: 0.8rem;
        }
    }
}

.lookbook-container {
    display: flex;
    flex-flow: row wrap;

    .lookbook-heading {
        flex-grow: 1;
        flex-basis: 100%;
        margin: 2rem 0;
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 0;
            li {
              list-style: none;
              padding: 1rem;
          
              a {
                text-decoration: none;
                color: var(--colorNavyBlue);
                font-weight: 400;
                font-size: 1rem;
              }
            }
        }
    }
    .outfits-container {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;
        align-items: normal;
        padding: 1rem;
        flex-grow: 1;
      
        .history-fav-card {
          /* 2 column layout */
          flex-basis: calc(50% - .5rem);   
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
          position: relative;
          border-radius: 50% 50% 0 0;
          
          .topOutfit {
            margin: 1rem 1rem 0 1rem;
          }
          .bottomOutfit {
            margin: 0 1rem 0 1rem;
          }
          img {
            margin: auto !important;
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 50px;
          }
          .tags {
            display: flex;
            flex-flow: row wrap;
            gap: 0.5rem;
            border-top: 1px solid #ccc;
            padding: 10px;
            height: 40px;
            overflow: scroll;
            label {
                display: inline;
                color: white;
                background-color: #9B5A1C;
                border-radius: 20px;
                padding: 5px;
                font-size: 0.4rem;
            }
          }
      
          .delete-btn {
            color: red;
            border: 0px;
            border-radius: 0;
            padding: 0;
            background-color: #FFFFFF;
            width: 100%;
            text-align: right !important;
            background: transparent;
            i {
                border: 1px solid #ccc;
                border-bottom: 0;
                padding: 10px;
                border-radius: 10px 10px 0 0;
            }
          }
      
          .delete-btn{
            i:hover {
                border: 1px solid #9B5A1C;
            }
          }
        }
    }   
}


@media screen and (min-width: 600px) {
    .header-wrapper {
        flex-flow: row nowrap;
        justify-content: space-between;
        .title-container {
            display: none;
            
        }
        .search-container {
            flex-basis: 35%;
        }
        .button-container {
            flex-flow: row nowrap;
            /* flex-basis: 70%; */
        }
    }
    .lookbook-container {
        .outfits-container {
            .history-fav-card {
                img {
                    width: 100px;
                }
            }
            .history-fav-card {
                flex-basis: 30%;
                .tags {
                    height: 47px;
                    label {
                        font-size: 0.7rem;
                    }
                }
            }

        }

    }
    
}

@media screen and (min-width: 1010px) {
    .header-wrapper {
        .search-container {
            flex-basis: 40%;
        }
        
    }
    .lookbook-container {
        .outfits-container {
            .history-fav-card {
                img {
                    width: 130px;
                }
            }
            .history-fav-card {
                flex-basis: 23%;
                .tags {
                    height: 47px;
                }
            }
        }
    }
}
