#uploadingImages
{
    main {
    margin: 0;
    padding: 0;
  
  }
  
  h1{
    text-align: center;
    padding: 1rem;
    margin: 0;
  }
  
  
  
  video {
    width: 100%;
    height: auto;
  }
  
  canvas {
    width: 100%;
    height: auto;
    display: block;
  }
  
  article .body {
  
  background: transparent;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
  
  
  }
  
  .tabs {
    display: flex;
    background-color: rgb(2, 2, 66);
    border-radius: 1rem;
  }
  
  #camera,
  #gallery {
    color: white;
    padding: 1rem;
    background-color: transparent;
    border: none;
    overflow: hidden;
  
    border-radius: 1rem;
  
    text-transform: uppercase;
  }
  
  #camera.active {
    background-color: #CB874E;
    transition: 0.3s ease-in-out;
  
  }
  
  #gallery.active {
    background-color: #CB874E;
    transition: 0.3s ease-in-out;
  
  }
  
  
  
  #imagePreview {
    box-sizing: border-box;
    width: 100%;
    padding: 0rem 2rem 1rem 2rem;
    margin: 0 auto;
    img{
      height: 100vh;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }
  
  .outfitButtons {
    text-align: center;
  }
  
  
  
  
  /* #cameraFile {
    
    width: 90%;
    margin: 1rem auto;
    height: 100%;
    #video {
      border-radius: 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  
    #start-button {
      border-radius: 1rem;
      background-color: #031B4A;
      text-align: center;
      padding: 0.5rem 1rem;
      border: none;
     color: white;
    }
  
    #take-picture-button {
      position: absolute;
      top:50%;
      right: 0;
      border: none;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      left: 0;
      margin: 0 auto -1rem;
      width: 50%;
      padding: 1rem;
  
  
    }
  } */
  
  .cameraContent {
    display: grid;
    grid-template-rows: auto auto auto auto;
  
    #video {
      grid-column: 1/-1;
      grid-row: 1/-1;
  
    }
  
    #take-picture-button {
      width: 50%;
      margin: 0 auto;
      z-index: 1;
      grid-column: 1/-1;
      grid-row: 4;
      padding: 0.5rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border: none;
      color: black;
      background-color: #CB874E;
    }
  }
  
  #cameraFile {
    text-align: center;
  }
  
  #start-button {
    background-color: #031B4A;
    color: white;
    margin: 1rem auto;
    width: 30%;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
  }
  
  #garmentTags {
  
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  .customCheckbox{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  }
  label{
    text-align: left;
    align-self: center;
    font-size: 1rem;
  
  }
    input[type="checkbox"] {
      align-self: center;
      width: 20px;
      height: 20px;
    }
  
    
  }
  #upload-form{
    padding: 4rem;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .outfitButtons{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
  
  }
  @media only screen and (min-width:800px){
    #formDetails{
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      form{
       align-self: center; 
      }
  
    }
    .cameraContent {
      width: 50%;
      margin: 0 auto;
    }
  
    
  }
  
  
  
  .form-container {
  
  margin: 0 auto;
    width: 400px;
    /* background: linear-gradient(#ffffff00, #9e999900) padding-box, linear-gradient(145deg, #000000 35%, #06025e, #06025e) border-box;    */
    border: 2px solid black;
    padding: 32px 24px;
    font-size: 1rem;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-group {
  .group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 1rem 0rem;
  
  }
  
    select {
      background-color: transparent;
      color: rgb(0, 0, 0);
      padding: 0.5rem 1rem;
      border-radius: 1rem;
    }
  
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-size: 1.1rem;
  }
  
  .form-container .form-group input[type="text"] {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000000;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
}