.page5 {
    /* margin: 9rem 0 0 0; */
    padding: 1rem 2rem;
    height: 100vh;
    /* background-color: linear-gradient(180deg, var(--colorWhite) 30%, var(--colorAntiqueWhite) 0%); */
    background: url(/resources/images/backgroundImages/LoginBg.jpg);
    background-size: cover;


    .profilePage {
        margin: 9rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .profileImage-card {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            margin: 0 3rem 0 40%;
            background-color: var(--colorBeige);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;;
            /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */

            .profileImage {
                padding: 1rem;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid #ccc;
                }
            }
            .card-content {
                padding-bottom: 1rem;
                color: var(--colorNavyBlue);

                h2 {
                    text-align: center;
                    color: var(--colorNavyBlue);
                }
                .editImage-wrapper {
                    button {
                        padding: 0.5rem 1rem;
                        background-color: #CB874E;
                        color: var(--colorNavyBlue);
                        border-radius: 10px;
                        border: 1px solid #CB874E;
                    }
                }

            }
            

        }

        .profile-menu {
            /* color: black; */
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin: 0 auto 0 1rem;

            /* h1, h2, h3 {
                color: #031b4a;
            } */

            .radio-inputs-custom {
                /* margin: 0 auto; */
                justify-content: center;
                align-items: center;
                gap: 1rem;
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                border-radius: 0.5rem;
                /* background-color: #CB874E; */
                box-sizing: border-box;
                box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
                /* padding: 0.25rem; */
                /* width: 300px; */
                font-size: 1rem;
                button {
                    margin: 0;
                }
                label{
                    margin-bottom:0;
                }
            }
            .radio-inputs-custom .radio {
                flex: 1 1 auto;
                text-align: center;
              }
              
              .radio-inputs-custom .radio input {
                display: none;
              }
              
              .radio-inputs-custom .radio .name {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                border: none;
                padding: .5rem 0;
                color: var(--colorNavyBlue);
                transition: all .15s ease-in-out;
              }
              
              .radio-inputs-custom .radio input:checked + .name {
                background-color: #fff;
                font-weight: 600;
                color: #000;
              }

            .section-features {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                div{
                    display: grid;
                    grid-template-columns: 15px 250px;
                    gap: 2rem;
                    h3 {
                        margin: 0;
                    }
                    i {
                    align-self: center;
                    color: var(--colorBeige);
                    /* margin: 1rem; */
                    }
                }
            }
            #profileForm {
                /* padding: 1rem; */
                display: flex;
                gap: 2rem;
                margin: 0;
                width: 60%;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                form {
                    width: 100%;
                }
                input, select {
                    width: 100%;
                    height: 30px;
                    padding: 0.2rem 0.5rem;
                    color: var(--colorBlack);
                    margin: 0.2rem;
                }
            .layer {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                i {
                    font-size: 1.2rem;
                    color: var(--colorBeige);
                }
            }
            }
        }
    }
}


