#mainCloset {
    margin: 10rem 3rem;
    display: block;
    padding-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1rem;
    background-color: var(--colorBeige);

    .leftSection {

        .cards-closet {
            padding: 1rem;
            text-align: center;
            display: flex;
            gap: 2rem;
            justify-content: space-around;
        }
    }

    .grid-cat {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        display: flex;
        align-items: center;
        background-color: var(--colorNavyBlue);

    }

    .radio-inputs {

        position: relative;
        display: flex;
        box-sizing: border-box;
        font-size: 1.1rem;
        width: 100%;
        padding: 1rem 1rem 0 2rem;
    }

    .radio-inputs .radio input {
        display: none;
    }

    .radio-inputs .radio .name {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border: none;
        color: var(--colorWhite);
        padding: 1rem 1rem 1rem 1rem;
        transition: all 0.15s ease-in-out;
        position: relative;
    }

    .radio-inputs .radio input:checked+.name {
        background-color: var(--colorBeige);
        color: var(--colorNavyBlue);

    }

    .radio-inputs .radio input+.name:hover {}

    .radio-inputs .radio input:checked+.name:hover {}

    .radio-inputs .radio input:checked+.name::after,
    .radio-inputs .radio input:checked+.name::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: var(--colorNavyBlue);
        bottom: 0;
    }

    .radio-inputs .radio input:checked+.name::after {
        right: -10px;
        border-bottom-left-radius: 300px;
        box-shadow: -3px 3px 0px 3px var(--colorBeige);
    }

    .radio-inputs .radio input:checked+.name::before {
        left: -10px;
        border-bottom-right-radius: 300px;
        box-shadow: 3px 3px 0px 3px var(--colorBeige);
    }

    #outfitHeading {
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    i {
        font-size: 2rem;
        align-self: center;
        padding: 1rem;
        color: var(--colorWhite);
    }

    .deleteBtns {
        i {
            cursor: pointer;
            color: var(--colorNavyBlue);

        }
    }

    /* Cards */
.card-main{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
    .card-closet {
        
        width: 350px;
        height: 500px;
        perspective: 1000px;
      }
      
      .card-inner {

        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.999s;
      }
      
      .card-closet:hover .card-inner {
        transform: rotateY(180deg);
      }
      
      .card-front,
      .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .card-front {
        /* background-color: #6A2C70;
        color: #fff; */
        display: flex;
        flex-flow: column;
        align-items: center;
        /* border: 10px solid #6A2C70; */
        border-radius: 10px;
        justify-content: center;
        font-size: 1.5rem;
        transform: rotateY(0deg);
      }
      
      .card-back {
        
        background-color: #dc9150;
        color: #fff;
        display: flex;
        align-items: center;
        border: 10px solid #dc9150;
        /* border-radius: 10px; */
        justify-content: center;
        font-size: 1.5rem;
        transform: rotateY(180deg);
      }

      .card-description{
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
      }


    /* .card {
        color: var(--colorNavyBlue);
        width: 450px;
        height: 100%;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 1rem;
        padding-bottom: 3.4em;
    }


    .card-body {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

    }

*/

    .image {
        background: rgb(241, 241, 241);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        
        img{
            width: 350px;
            height: 350px;
            object-fit: cover;
        }
    } 

    /* cards  */
}